# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
genspec

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Files created by Goland IDE
.idea/

# Temporary files
apiserver.local.config

